<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>

<body>
 <style>
  #wrapper 
  {
    width: 420px;
    height:320px;
  	background-color:#FEFFEA;
  	border:5px solid #FFCBC3;
  	margin:0;
  }
  body
  {
   	border:0;
  	margin:0;
  }
 </style>
 
 <div id="wrapper">
 	<center>
 	 <div id="NoticePart">
 	 	<br><br><br><br>
 	 	<h4>셀프 회원님이시군요!</h4>
 	 	<h3>이메일로 인증번호가 발송되었습니다.</h3>
   		<h3>이메일을 확인해주세요</h3>
  	 </div>
  	 </center>
 </div>
 

</body>
</html>