/.metadata/
/.recommenders/
/.settings/
Servers/
.classpath
.project
Sellf/build/
Servers2/
.classpath
.project
Sellf/build/
*.class
Sellf/.classpath
Sellf/.settings/
Servers/org.eclipse.wst.common.component
RemoteSystemsTempFiles/.project
*.prefs
.classpath
.project
Sellf/build/
Sellf/.classpath
*.class
.recommenders/