.metadata/
Sellf/.settings/org.eclipse.wst.jsdt.ui.superType.name
Sellf/.settings/.jsdtscope
Sellf/.settings/org.eclipse.wst.jsdt.ui.superType.container
Sellf/.settings/org.eclipse.wst.common.project.facet.core.xml
Sellf/.settings/org.eclipse.wst.common.component
Sellf/.settings/org.eclipse.jdt.core.prefs
Servers/
RemoteSystemsTempFiles/.project
*.prefs
.classpath
.project
Sellf/build/
Sellf/.classpath
*.class