body {
	margin: auto;
	width: 100%;
	height: auto;
}

#allWrapper {
	width: 1600px;
	margin: auto;
	margin-bottom : 10%;
}

/*바디부분 크기 */
.bodyWrapper {
	width: 80%;
	margin: 5% auto 0px auto;
	margin-top: 100px;
}

/*상품등록페이지 div */
.insertTitle {
	margin-top: 8px;
	padding-top: 3%;
}

/* 상품등록페이지 h2 */
#insertProductTitle {
	padding-left: 2%;
	color : black;
}

/* 상세정보 랩퍼 */
.dataWrapper {
	width: auto;
	margin: 5%;
}

/*상품 상세정보 span*/
.dataWrapper>#dataTitle {
	font-size: 25px;
}

/* 상세정보 내용 */
.dataCon {
	margin: 3%;
}

/* 상세정보 내용 폼 */
#dataInsert {
	margin: 1%;
}

/*상세설명 라벨*/
#detail {
	padding-bottom: 1%;
	margin: 1%;
	font-size: 20px;
}

/*광고 */
.ad {
	padding-top: 6%;
	margin-bottom: 5%;
}

/*판매가격 */
#price {
	float: left;
}

/*상세정보 분류제목 */
#subTitle {
	margin-top: 1%;
}

.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}

.submitWrapper {
	display: inline;
}

.submitWrapper * {
	float: right;
	margin-right: 2%;
	margin-left: 2%;
}

/* 날력 버튼 지우기 */
input[type="date"]::-webkit-inner-spin-button {
	display: none;
	appearance: none;
}

.imgCon {
	width : auto;
	height: auto;
	border: 1px solid lightgray;
	margin: 1%;
}

#imgwrapper {
	float: left;
	margin: 2% 2% 2% 2%;
}

#line {
	margin-right: 3%;
}
form-control{
	padding: 0px;
}
#buttons{
	border : 1px solid lightgray;
}
#bCategory,#sCategory,#state,#number,#productGrade,#scratch,#refund,#extra{
	height : 34px;
}