body {
	margin: auto;
	width: 100%;
	height: auto;
}

#allWrapper {
	width: 1600px;
	margin: auto;
	margin-bottom : 10%;
}

/*바디부분 크기 */
.bodyWrapper {
	width: 80%;
	margin: 5% auto 0px auto;
	margin-top: 100px;
}

/*상품등록페이지 div */
.insertTitle {
	margin-top: 8px;
	padding-top: 3%;
}

/* 상품등록페이지 h2 */
#insertProductTitle {
	padding-left: 2%;
	color : black;
}

/* 상세정보 랩퍼 */
.dataWrapper {
	width: auto;
	margin: 5%;
}

/*상품 상세정보 span*/
.dataWrapper>#dataTitle {
	font-size: 25px;
}

/* 상세정보 내용 */
.dataCon {
	margin: 3%;
}

/* 상세정보 내용 폼 */
#dataInsert {
	margin: 1%;
}

/*상세설명 라벨*/
#detail {
	padding-bottom: 1%;
	margin: 1%;
	font-size: 20px;
}


/*판매가격 */
#price {
	float: left;
}

/*상세정보 분류제목 */
#subTitle {
	font-size : 17px;
	margin-left:5%;
	margin-top: 1%;	
}

.submitWrapper {
	display: inline;
}

.submitWrapper * {
	float: right;
	margin-right: 2%;
	margin-left: 2%;
}

.imgCon {
	width : auto;
	height: auto;
	border: 1px solid lightgray;
	margin: 1%;
}

#imgwrapper {
	float: left;
	margin: 2% 2% 2% 2%;
}
.imgTitle{
	font-size: 25px;
}

#line {
	margin-right: 3%;
}
.form-control{
	padding-left: 10px;

	
}
.form-control:hover{
	border-color: RGBA(216,85,161,1);
	box-shadow: 0 .1rem 1rem RGBA(216,85,161,1)!important;
}
#buttons{
	border : 1px solid RGBA(216,85,161,1);
	
}
#buttons:hover{
	background-color: RGBA(216,85,161,1);
	color : white;
}
.imgCon:hover{
	border-color: RGBA(216,85,161,1);
	box-shadow: 0 .1rem 1rem RGBA(216,85,161,1)!important;
}
#bCategory,#sCategory,#state,#number,#productGrade,#scratch,#refund,#extra{
	height : 34px;
}
.shadow {
    box-shadow: 0 .1rem 1rem RGBA(216,85,161,1)!important;
}
label {
	    font-weight: 500;
}

    
    
    
    
    
    