<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<button onclick = "extraInfo();">+</button>

<script>
	var detailOption = ["사용여부","등급","생활기스","구성품"];
	function extraInfo(){
		
	}

</script>





   <script>
        var detailOption =["사용여부", "등급"];
       detailOption.splice(0,1);
       function createInputArea()
       {
           <select>
            <option>사용여부</option>
            <option>등급</option>
            <option>상세설명</option>
            </select>
       }
    </script>
    <select>
        <option>사용여부</option>
        <option>등급</option>
        <option>상세설명</option>
    </select>
    <select>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
<!--    <input type="text" placehorder="내용을 입력해주세요">-->
    <button>+</button>
    <div>
         <select>
            <option>사용여부</option>
            <option>등급</option>
            <option>상세설명</option>
        </select>
        <select>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    <!--    <input type="text" placehorder="내용을 입력해주세요">-->
        <button>+</button>
    </div>
    <div>
         <select>
            <option>사용여부</option>
            <option>등급</option>
            <option>상세설명</option>
        </select>
        <select>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    <!--    <input type="text" placehorder="내용을 입력해주세요">-->
        <button>+</button>
    </div>
</body>
</html>
